# Directories
assets/
logs/*
Submission/

# Mathematica Notebook files
*.nb

# Non-final feedback files
*feedback.pdf
proposal_feedback.txt

# Report files
report/*.pdf
report/*.synctex.gz

# Specific data
Fall 2020*

# Batch scripts
*.bat

# Python test files
test.py
tempCodeRunnerFile.py

# Python cache files
*.cpython*
